<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lhrtsx.study.mapper.ClassificationMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.lhrtsx.study.enirty.Classification" id="ClassificationResultMap">
        <!-- 主键 -->
        <id property="id" column="id"/>
        <!-- 名称 -->
        <result property="name" column="name"/>
        <!-- 关于 -->
        <result property="about" column="about"/>
        <!-- 父级id -->
        <result property="pid" column="pid"/>
        <!-- 祖籍列表 -->
        <result property="ancestral" column="ancestral"/>
        <!-- 创建时间 -->
        <result property="createTime" column="create_time"/>
        <!-- 最后更新时间 -->
        <result property="updateTime" column="update_time"/>
        <!-- 状态 -->
        <result property="status" column="status"/>
    </resultMap>

</mapper>
